.bg-primary,
.btn-primary {
    background-color: var(--clr-primary) !important
}
.bg-secondary,
.btn-secondary {
    background-color: var(--clr-secondary) !important
}
.bg-secondary-light {
    background-color: var(--clr-secondary-light) !important
}

.bg-grey {
   background-color: var(--clr-grey) !important
}
.bg-grey-dark {
   background-color: var(--clr-grey-dark) !important
}